<a href="https://colab.research.google.com/github/lexafortain/MALData/blob/main/MAL%20Data%20Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import missingno as msno
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
#Load datsets

df_anime = pd.read_csv("https://media.githubusercontent.com/media/lexafortain/MALData/main/animes.csv")
df_profile = pd.read_csv("https://media.githubusercontent.com/media/lexafortain/MALData/main/profiles.csv")
df_review = pd.read_csv("https://media.githubusercontent.com/media/lexafortain/MALData/main/reviews.csv")

In [ ]:
df_anime.head()

     uid  ...                                               link
0  28891  ...  https://myanimelist.net/anime/28891/Haikyuu_Se...
1  23273  ...  https://myanimelist.net/anime/23273/Shigatsu_w...
2  34599  ...  https://myanimelist.net/anime/34599/Made_in_Abyss
3   5114  ...  https://myanimelist.net/anime/5114/Fullmetal_A...
4  31758  ...  https://myanimelist.net/anime/31758/Kizumonoga...

[5 rows x 12 columns]

In [ ]:
df_profile.head()

           profile  ...                                             link
0   DesolatePsyche  ...   https://myanimelist.net/profile/DesolatePsyche
1        baekbeans  ...        https://myanimelist.net/profile/baekbeans
2             skrn  ...             https://myanimelist.net/profile/skrn
3     edgewalker00  ...     https://myanimelist.net/profile/edgewalker00
4  aManOfCulture99  ...  https://myanimelist.net/profile/aManOfCulture99

[5 rows x 5 columns]

In [ ]:
df_review.head()

      uid  ...                                           link
0  255938  ...  https://myanimelist.net/reviews.php?id=255938
1  259117  ...  https://myanimelist.net/reviews.php?id=259117
2  253664  ...  https://myanimelist.net/reviews.php?id=253664
3    8254  ...    https://myanimelist.net/reviews.php?id=8254
4  291149  ...  https://myanimelist.net/reviews.php?id=291149

[5 rows x 7 columns]